@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300&display=swap");
/* Color */
/* Font */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

.container-nav {
  margin: 0 auto;
  /* max-width: 1420px; */
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header {
  display: none;
}

header .navbar {
  border-bottom: 0.5px solid #F3F3F3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
}

header .hamburger {
  display: none;
}

header .hamburger .bar {
  display: block;
  width: 22px;
  height: 3px;
  margin: 5px 10px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #212322;
}

nav {
  position: absolute;
  background-color: #212322;
  color: #808080;
  width: 288px;
  height: 100%;
  z-index: 1;
}

nav .sidebar {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

nav .sidebar .menu {
  display: none;
  color: #ffffff;
  padding: 20px;
}

nav .sidebar .logo {
  padding: 32px 75px 16px 75px;
}

nav .navbar-menu {
  margin-top: 64px;
}

nav .navbar-menu a {
  color: #808080;
}

nav .navbar-menu ul li {
  width: 176px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  margin: 20px auto;
  cursor: pointer;
}

nav .navbar-menu ul li a {
  color: #808080;
  font-weight: 600;
}

nav .navbar-menu ul li.active {
  background-color: #00B140;
  border-radius: 10px;
}

nav .navbar-menu ul li.active a {
  color: #ffffff;
}

nav .navbar-menu ul li img {
  color: #ffffff;
  font-size: 16px;
}

nav .navbar-menu li img {
  margin-right: 8px;
  width: 24px;
}

.logout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 5px;
  background-color: #F9F9F9;
  cursor: pointer;
  width: 176px;
  height: 48px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 200px auto 0;
}

.logout .icon-logout {
  width: 24px;
  margin-right: 8px;
}

.logout li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

.logout a {
  font-weight: 600;
  margin: auto;
  color: #212322;
  font-size: 16px;
}

main {
  margin-left: 288px;
  width: 100%;
}

main .title {
  height: 80px;
}

main .title h1 {
  padding: 26px 56px;
  border-bottom: 0.5px solid #F3F3F3;
}

main .container {
  margin: 32px 56px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .container .data-izin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

main .container .content-left {
  display: block;
  border: 0.5px solid #F3F3F3;
  width: 648px;
  height: 592px;
  padding: 20px;
  border-radius: 2px;
}

main .container .content-left label {
  display: block;
}

main .container .content-left .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 32px;
}

main .container .content-left .label-group {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .container .content-left .label-group input {
  width: 294px;
  height: 42px;
  border-radius: 2px;
  border: 0.5px solid #D9D9D9;
  margin-top: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .container .content-left .label-group .textarea {
  width: 608px;
  height: 106px;
  resize: none;
  border: 0.5px solid #D9D9D9;
  border-radius: 2px;
  margin-top: 16px;
}

main .container .content-left .label-group ::-webkit-input-placeholder {
  padding: 16px;
}

main .container .content-left .label-group :-ms-input-placeholder {
  padding: 16px;
}

main .container .content-left .label-group ::-ms-input-placeholder {
  padding: 16px;
}

main .container .content-left .label-group ::placeholder {
  padding: 16px;
}

main .container .content-left .label-group .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .container .content-left .label-group .flex .btn-jujur {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  /* Rounded sliders */
}

main .container .content-left .label-group .flex .btn-jujur .switch {
  position: relative;
  display: inline-block;
  width: 38px;
  height: 20px;
}

main .container .content-left .label-group .flex .btn-jujur .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

main .container .content-left .label-group .flex .btn-jujur .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

main .container .content-left .label-group .flex .btn-jujur .slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 3px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

main .container .content-left .label-group .flex .btn-jujur input:checked + .slider {
  background-color: #00B140;
}

main .container .content-left .label-group .flex .btn-jujur input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #00B140;
          box-shadow: 0 0 1px #00B140;
}

main .container .content-left .label-group .flex .btn-jujur input:checked + .slider:before {
  -webkit-transform: translateX(17px);
  transform: translateX(17px);
}

main .container .content-left .label-group .flex .btn-jujur .slider.round {
  border-radius: 34px;
}

main .container .content-left .label-group .flex .btn-jujur .slider.round:before {
  border-radius: 50%;
}

main .container .content-left button {
  width: 608px;
  height: 48px;
  background-color: #00B140;
  border: none;
  border-radius: 4px;
  margin-top: 20px;
  cursor: pointer;
}

main .container .content-left button p {
  font-weight: 600;
  color: #ffffff;
}

main .container .content-right {
  margin-left: 56px;
  width: 336px;
  height: 220px;
  border-radius: 2px;
  border: 0.5px solid #F3F3F3;
  padding: 20px;
}

main .container .content-right .text-content h2 {
  font-size: 20px;
  position: relative;
}

main .container .content-right .text-content p {
  font-size: 14px;
  text-align: center;
  margin-bottom: 16px;
  color: #808080;
}

main .container .content-right .text-content .text-sum {
  margin: 20px;
}

main .container .content-right .text-content .sum {
  color: #00B140;
  font-size: 80px;
  font-family: "Sora", sans-serif;
}

@media screen and (max-width: 768px) {
  body {
    display: block;
  }
  body header .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: auto;
    height: 56px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body header .navbar .btn-navbar {
    padding: 16px 24px;
    color: #212322;
  }
  body header .navbar .hamburger {
    z-index: 2;
    display: block;
    cursor: pointer;
  }
  body header .navbar .hamburger.active {
    margin-top: 15px;
  }
  body header .navbar .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  body header .navbar .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
            transform: translateY(8px) rotate(45deg);
    background-color: #ffffff;
    margin-top: 5px;
  }
  body header .navbar .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
            transform: translateY(-8px) rotate(-45deg);
    background-color: #ffffff;
  }
  body .bar {
    background-color: #ffffff;
  }
  body nav {
    position: fixed;
    display: none;
    height: auto;
    border-radius: 5px;
  }
  body nav .logo {
    display: none;
  }
  body nav.nav-menu.active {
    display: block;
    top: 0;
    width: 100%;
    right: 0;
  }
  body nav.nav-menu.active .sidebar .menu {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body nav.nav-menu.active .sidebar .navbar-menu ul li {
    width: 240px;
  }
  body nav.nav-menu.active .sidebar .logout {
    margin-top: 160px;
    margin-bottom: 30px;
  }
  body main {
    margin-left: 0;
  }
  body main .title h1 {
    font-size: 28px;
    padding: 30px;
    border-bottom: none;
  }
  body main .container {
    display: block;
  }
  body main .container .data-izin .content-left {
    width: 100%;
  }
  body main .container .content-right {
    margin: 18px auto;
  }
}

@media screen and (max-width: 425px) {
  body header {
    display: contents;
  }
  body header .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: auto;
    height: 56px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body header .navbar .btn-navbar {
    padding: 16px 24px;
  }
  body main {
    margin-left: 0;
  }
  body main .title h1 {
    font-size: 28px;
    padding: 32px 20px;
    border-bottom: none;
  }
}

@media screen and (max-width: 375px) {
  body header {
    position: absolute;
    display: contents;
  }
  body header .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: auto;
    height: 56px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body header .navbar .btn-navbar {
    padding: 16px 24px;
  }
  body nav {
    display: none;
  }
  body main {
    margin-left: 0;
  }
  body main .title h1 {
    font-size: 28px;
    padding: 32px 20px;
    border-bottom: none;
  }
  body main .container {
    margin: 32px 24px;
  }
  body main .container .data-izin {
    display: block;
  }
  body main .container .content-left {
    width: 333px;
    border: none;
    padding: 0;
  }
  body main .container .content-left .form-group {
    display: block;
  }
  body main .container .content-left .label-group {
    display: block;
  }
  body main .container .content-left .label-group input {
    width: 312px;
    height: 42px;
    margin: 16px 0;
  }
  body main .container .content-left .label-group .textarea {
    width: 312px;
    height: 140px;
  }
  body main .container .content-left .label-group .flex {
    display: block;
  }
  body main .container .content-left .label-group .flex .btn-jujur {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body main .container .content-left .label-group button {
    width: 312px;
    height: 48px;
  }
  body main .container .content-right {
    margin-left: 0;
    margin-top: 280px;
    width: 312px;
  }
}
/*# sourceMappingURL=style.css.map */