@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300&display=swap');
/* Color */
$primary-color: #ffffff;
$non-active-menu: #808080;
$btn-color: #00B140;
$heading-color: #212322;
$placeholder-color: #808080;

/* Font */
$main-font: 'Plus Jakarta Sans',
sans-serif;
;
$heading-font: 'Sora',
sans-serif;

* {
    box-sizing: border-box;
    font-family: $main-font;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

.container-nav {
    margin: 0 auto;
    /* max-width: 1420px; */
}

body {
    display: flex;
}

header {
    display: none;
    .navbar {
        border-bottom: 0.5px solid #F3F3F3;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
    }

    .hamburger {
        display: none;
        .bar {
            display: block;
            width: 22px;
            height: 3px;
            margin: 5px 10px;
            -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
            background-color: $heading-color;
        }
    }
}

nav {
    position: absolute;
    background-color: $heading-color;
    color: $non-active-menu;
    width: 288px;
    height: 100%;
    z-index: 1;
    .sidebar {
        display: block;
        justify-content: center;
        margin: 0 auto;
        .menu{
            display: none;
            color: $primary-color;
            padding: 20px;
        }
        .logo {
            padding: 32px 75px 16px 75px;
        }
    }

    .navbar-menu {
        margin-top: 64px;

        a {
            color: $non-active-menu;
        }

        ul li {
            width: 176px;
            height: 48px;
            display: flex;
            align-items: center;
            padding: 20px;
            margin: 20px auto;
            cursor: pointer;

            a {
                color: $non-active-menu;
                font-weight: 600;
            }

            &.active {
                background-color: $btn-color;
                border-radius: 10px;

                a {
                    color: $primary-color;
                }
            }

            img {
                color: $primary-color;
                font-size: 16px;
            }
        }

        li img {
            margin-right: 8px;
            width: 24px;
        }
    }
}

.logout {
    display: flex;
    border-radius: 5px;
    background-color: #F9F9F9;
    cursor: pointer;
    width: 176px;
    height: 48px;
    align-items: center;
    justify-content: center;
    margin: 200px auto 0;

    .icon-logout {
        width: 24px;
        margin-right: 8px;
    }

    li {
        display: flex;
        margin: auto;
    }

    a {
        font-weight: 600;
        margin: auto;
        color: $heading-color;
        font-size: 16px;
    }
}




main {
    margin-left: 288px;
    width: 100%;

    .title {
        height: 80px;

        h1 {
            padding: 26px 56px;
            border-bottom: 0.5px solid #F3F3F3;
        }
    }

    .container {
        margin: 32px 56px;
        position: relative;
        display: flex;

        .data-izin {
            display: flex;
            margin: auto;
        }

        .content-left {
            display: block;
            border: 0.5px solid #F3F3F3;
            width: 648px;
            height: 592px;
            padding: 20px;
            border-radius: 2px;

            label {
                // font-size: 18px;
                display: block;
            }

            .form-group {
                display: flex;
                justify-content: space-between;
                margin-bottom: 32px;
            }

            .label-group {
                justify-content: space-between;

                input {
                    width: 294px;
                    height: 42px;
                    border-radius: 2px;
                    border: 0.5px solid #D9D9D9;
                    margin-top: 16px;
                    align-items: center;
                }

                .textarea {
                    width: 608px;
                    height: 106px;
                    resize: none;
                    border: 0.5px solid #D9D9D9;
                    border-radius: 2px;
                    margin-top: 16px;
                }

                ::placeholder {
                    padding: 16px;
                }

                .flex {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .btn-jujur {
                        display: flex;
                        align-items: center;
                        gap: 10px;

                        .switch {
                            position: relative;
                            display: inline-block;
                            width: 38px;
                            height: 20px;
                        }

                        .switch input {
                            opacity: 0;
                            width: 0;
                            height: 0;
                        }

                        .slider {
                            position: absolute;
                            cursor: pointer;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            background-color: #ccc;
                            -webkit-transition: .4s;
                            transition: .4s;
                        }

                        .slider:before {
                            position: absolute;
                            content: "";
                            height: 16px;
                            width: 16px;
                            left: 3px;
                            bottom: 2px;
                            background-color: white;
                            -webkit-transition: .4s;
                            transition: .4s;
                        }

                        input:checked+.slider {
                            background-color: #00B140;
                        }

                        input:focus+.slider {
                            box-shadow: 0 0 1px #00B140;
                        }

                        input:checked+.slider:before {
                            -webkit-transform: translateX(17px);
                            -ms-transform: translateX(17px);
                            transform: translateX(17px);
                        }

                        /* Rounded sliders */
                        .slider.round {
                            border-radius: 34px;
                        }

                        .slider.round:before {
                            border-radius: 50%;
                        }
                    }
                }
            }

            button {
                width: 608px;
                height: 48px;
                background-color: $btn-color;
                border: none;
                border-radius: 4px;
                margin-top: 20px;
                cursor: pointer;

                p {
                    font-weight: 600;
                    color: $primary-color;
                }
            }
        }

        .content-right {
            margin-left: 56px;
            width: 336px;
            height: 220px;
            border-radius: 2px;
            border: 0.5px solid #F3F3F3;
            padding: 20px;

            .text-content {

                h2 {
                    font-size: 20px;
                    position: relative;
                }

                p {
                    font-size: 14px;
                    text-align: center;
                    margin-bottom: 16px;
                    color: $non-active-menu;
                }

                .text-sum {
                    margin: 20px;
                }

                .sum {
                    color: $btn-color;
                    font-size: 80px;
                    font-family: $heading-font;
                }
            }
        }
    }
}


@media screen and (max-width: 768px) {
    body {
        display: block;

        header {
            // position: absolute;
            .navbar {
                display: flex;
                width: auto;
                height: 56px;
                justify-content: space-between;
                align-items: center;

                img {
                    padding: 16px 24px;
                }
                .btn-navbar {
                    padding: 16px 24px;
                    color: $heading-color;
                }

                .hamburger {
                    z-index: 2;
                    display: block;
                    cursor: pointer;
                }
                .hamburger.active{
                    margin-top: 15px;
                }
                .hamburger.active .bar:nth-child(2) {
                    opacity: 0;
                }

                .hamburger.active .bar:nth-child(1) {
                    transform: translateY(8px) rotate(45deg);
                    background-color: $primary-color;
                    margin-top: 5px;
                }

                .hamburger.active .bar:nth-child(3) {
                    transform: translateY(-8px) rotate(-45deg);
                    background-color: $primary-color;
                }
            }
        }
        .bar{
            background-color: $primary-color;
        }
        nav {
            display: none;
            height: auto;
            border-radius: 5px;
            .logo{
                display: none;
            }
            &.nav-menu.active {
                // position: absolute;
                display: block;
                top: 0;
                width: 100%;
                right: 0;
                .sidebar{
                    .menu{
                        justify-content: space-between;
                        align-items: center;
                        display: flex;
                    }
                    .navbar-menu{
                        ul li{
                            width: 240px;
                        }
                    }
                    .logout{
                        margin-top: 160px;
                        margin-bottom: 30px;
                    }
                }
            }
        }

        main {
            margin-left: 0;

            .title {
                h1 {
                    font-size: 28px;
                    padding: 30px;
                    border-bottom: none;
                }
            }

            .container {
                display: block;

                .data-izin {
                    .content-left {
                        width: 100%;
                    }
                }

                .content-right {
                    margin: 18px auto;
                }
            }
        }
    }
}

@media screen and (max-width: 425px) {
    body {
        header {
            display: contents;

            .navbar {
                display: flex;
                width: auto;
                height: 56px;
                justify-content: space-between;
                align-items: center;

                .btn-navbar {
                    padding: 16px 24px;
                }
            }
        }

        main {
            margin-left: 0;

            .title {
                h1 {
                    font-size: 28px;
                    padding: 32px 20px;
                    border-bottom: none;
                }
            }
        }
    }
}

@media screen and (max-width: 375px) {
    body {
        header {
            position: absolute;
            display: contents;

            .navbar {
                display: flex;
                width: auto;
                height: 56px;
                justify-content: space-between;
                align-items: center;

                .btn-navbar {
                    padding: 16px 24px;
                }
            }
        }

        nav {
            display: none;
        }

        main {
            margin-left: 0;

            .title {
                h1 {
                    font-size: 28px;
                    padding: 32px 20px;
                    border-bottom: none;
                }
            }

            .container {
                margin: 32px 24px;

                .data-izin {
                    display: block;
                }

                .content-left {
                    width: 333px;
                    border: none;
                    padding: 0;

                    .form-group {
                        display: block;
                    }

                    .label-group {
                        display: block;

                        input {
                            width: 312px;
                            height: 42px;
                            margin: 16px 0;
                        }

                        .textarea {
                            width: 312px;
                            height: 140px;
                        }

                        .flex {
                            display: block;

                            .btn-jujur {
                                display: flex;
                                justify-content: center;
                            }
                        }

                        button {
                            width: 312px;
                            height: 48px;
                        }
                    }
                }

                .content-right {
                    margin-left: 0;
                    margin-top: 280px;
                    width: 312px;
                }
            }
        }
    }
}